@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.logo {
    width: 43px;
    height: 40px;
}

.list {
    margin: 0;
    gap: 10px;
    padding: 0;
    display: flex;
    padding-top: 8px;
    list-style: none;
    position: relative;
    padding-bottom: 8px;
    flex-direction: column;
}

.colorCircle {
    height: 30px;
    width: 30px;
    margin: auto;
    border-radius: 50%;
    display: inline-block;
    border-style: solid;
    border-color: pink;
    border-width: 2px;
}