@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    height: 16px;
    overflow: visible;
    width: 16px;
}

*::-webkit-scrollbar-track {
    background: transparent;
}

*::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, .3);
    background-clip: padding-box;
    border: solid transparent;
    border-width: 1px 1px 1px 6px;
    box-shadow: inset 1px 1px 0 rgb(0 0 0 / 10%), inset 0 -1px 0 rgb(0 0 0 / 7%);
}

*::-webkit-scrollbar-track {
    background-clip: padding-box;
    border: solid transparent;
    border-width: 0 0 0 4px;
}

.logo {
    width: 43px;
    height: 40px;
}

.list {
    margin: 0;
    gap: 10px;
    padding: 0;
    display: flex;
    padding-top: 8px;
    list-style: none;
    position: relative;
    padding-bottom: 8px;
    flex-direction: column;
}

.card-action {
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s;
}

.card-box:hover .card-action {
    opacity: 1;
    visibility: visible;

}